/* CS 476: Lost Paws Project
  Group Members: 
            Anna Chu (ace859 - 200391368), 
            Ibrahim Hassan (hassan4i - 200343818),
            Makenzy Laursen-Carr (mil979 - 200504296), 
            Kaira Molano (kvm406 - 200447526), 
            Fatima Rizwan (frf706 - 200446702)
  File name: index-style.css */

  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/*	 START CSS: index.php 	*/
#index-signup-button, #index-login-button {
    display: inline-block;
    background-color: #1E3F66;
    padding: 10px 15px;
    border-radius: 1vw;
    text-decoration: none;
    font-size: 1em;
    color: white;
    text-align: center;
    width: auto;
    transition: background-color 0.3s ease;
  }
  
  #index-signup-button:hover, #index-login-button:hover {
    background-color: #64aef3;
  }
  
  .index-navmenu {
    background-color: #B6D0E2;
    margin-bottom: 2px;
    padding: 35px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5vh;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
  }
  
  .index-nav-links {
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    margin: 0 auto;
  }
  
  .index-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin: 0;
      padding: 0;
      width: 100%;
      position: relative;
      overflow-x: hidden;
  }
  
  .index-top-half {
    background-color: #c5d7b3;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15vh 10%;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5vh;
  
    position: relative;
    z-index: 1;
  }

  .index-top-half-text {
    max-width: 40%;
    flex: 1;
  }

  .index-image-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .index-image {
    width: 120%;
    max-wdith: 900px;
    height: auto;
    object-fit: cover;
    positon: absolute;
    bottom: -12px;
    right: 0;
    z-index: 2;
  }
  
  .index-top-half h1 {
    font-size: 4.5em;
    margin: 0;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .index-top-half p {
    font-size: 1.4em;
    margin: 30px 0;
    color: black;
    text-align: center;
    max-width: 450px;
  }
  
  .index-top-half a{
    display: inline-block;
    background-color: #1E3F66;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    text-align: left;
    width: auto;
    margin-top: 30px;
    transition: background-color 0.3s ease;
  }
  
  .index-top-half a:hover {
    background-color: #64aef3;
  }

  .index-top-half-text {
    max-width: 45%;
  }
  
  .wave-container {
      position: relative;
      background-color: #c5d7b3;
      text-align: center;
      width: 100%;
      height: 40vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 170px;	/* adjust text position */
      margin-top: -45vh;	/* negative to make overlap into index-top-half */
  }
  
  .wave-container svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 155%;
      z-index: 1;		/* to place the wave a layer behind the text */
  }
  
  .wave-text {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: black;
      font-size: 1.5rem;
      font-weight: bold;
      width: 80%;
      text-align: center;
  }
  
  .wave-text a {
      background-color: #ffd0a9;
      color: black;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 15px;
      font-size: 1rem;
      font-weight: normal;
      display: inline-block;
      transition: background-color 0.3s ease;
  }
  
  .wave-text a:hover {
      background-color: #ffb77a;
  }
  
  .wave-text p {
      margin-bottom: 20px;
  }
  
  /*	 END CSS: index.php		*/
  
