/* CS 476: Lost Paws Project
  Group Members: 
            Anna Chu (ace859 - 200391368), 
            Ibrahim Hassan (hassan4i - 200343818),
            Makenzy Laursen-Carr (mil979 - 200504296), 
            Kaira Molano (kvm406 - 200447526), 
            Fatima Rizwan (frf706 - 200446702)
  File name: login-style.css */


.logo {
  padding: 15px;
  background-color: #B6D0E2;
  margin-left: -15px;
}

.login-error ~ .auth-form-login .login-field input {
  border: 1px solid #ff0000;
}

.error-text:not(.hidden) {
  color: #ff0000;
  font-size: 0.9em;
  height: 1em; 
}

.navmenu {
  background-color: #B6D0E2;
  margin-bottom: 20px;
  padding: 35px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.nav-links-right {
  background-color: #B6D0E2;
  padding-top: 15px;
}
.nav-links-right a { 
  color: black; 
  text-decoration: none; 
  margin: 0 40px;
}
img {
  width: 41.8%;
  height: auto;
}

#main-right-login {
  display: flex; 
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 36.8vw; 
  background-color: white;
  justify-content: center;
  align-items: flex-end;

  display: grid;
  grid-template-columns: 0.6fr 0.6fr
}

.login-image1 img {
  width: 450px;
  height: 750px;
  margin-bottom: 100px;

  float: left;
}

.login-image2 img {
  width: 430px;
  height: 900px;
  float: right;
  margin-left: 140px;
}

#main-left-login {
  padding-left: 10px;
  padding-top: 40px;
  background-color: white;
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 40vw; 
  display: grid;
  grid-template-rows: 0.6fr 0.6fr auto;
  margin-left: 200px;
  margin-top: 50px;
}

.login-header > h1 {
  font-weight: bolder;
  font-size: 70px;
}

.login-header > h2 {
  font-size: 30px;
  margin-top: -50px;
  margin-left: 10px;
}

#main-left-login > h3 {
  font-size: 30px;
}

.login-header {
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.auth-form-login {
  background-color: #d8e3eb;
  grid-row-start: 2;
  grid-row-end: 3;
  border: lightgray 1px solid;
  border-radius: 7px;
  width: 70%;
  padding-right: 40px;
  padding-left: 30px;
  margin-top: -200px;
  margin-left: 60px;
  height: 70%;
}

.login-field {
  width: 95%;
  margin: 25px;
  margin-bottom: 20px;
  font-size: smaller;
}

.login-footnote {
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: smaller;
  padding-left: 65px;
  margin-top: -310px;
  margin-left: 120px;
}

.login-footnote a {
text-decoration: none;
}

input {
  float: right;
  width: 55%;
  background-color: rgb(245, 243, 243);
  border-radius: 0.3vw;
} 

.login-button {
  background-color: #add8e6;  
  width: 15vw;
  padding: 5px;
  text-align: center;
  border-radius: 1vw;
  font-size: medium;
  margin-top: 50px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #d6e3e8;
}

.forgot-password {
  float: right;
}

.login-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
