/* CS 476: Lost Paws Project
  Group Members: 
            Anna Chu (ace859 - 200391368), 
            Ibrahim Hassan (hassan4i - 200343818),
            Makenzy Laursen-Carr (mil979 - 200504296), 
            Kaira Molano (kvm406 - 200447526), 
            Fatima Rizwan (frf706 - 200446702)
  File name: signup-style.css */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/*   START CSS: signup.php  */ 
body, p {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
h1, h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
#container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 40vw 60vw;
    min-height: 100vh;
}

.navmenu {
    background-color: #B6D0E2;
    margin-bottom: 2px;
    padding: 35px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    justify-content: right;
    padding: 10px 15px;
}
  
.nav-links a:hover {
    background-color: #fdfdfd79;
    color: black;
    border-radius: 0.5vw;
}

#signup-button, #login-button {
    display: inline-block;
    background-color: #1E3F66;
    padding: 10px 15px;
    border-radius: 1vw;
    text-decoration: none;
    font-size: 1em;
    color: white;
    text-align: center;
    width: auto;
    transition: background-color 0.3s ease;
}
  
.signup-button:hover, .login-button:hover {
    background-color: #64aef3;
}

.button {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-left: 50px;
    grid-column-start: 3;
    grid-column-end: 4;
}
  
.button a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
    justify-content: right;
}
  
.button p {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    font-size: 1em;
    color: black;
}

.bottom {
    text-align: center;
    padding: 20px;
}
  
.logo {
    margin-top: -22px;
    max-width: 100%; 
    height: 55px; 
}

.signup-header {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
    
.signup-header h2 {
    font-size: 1.5em;
    padding: 5%;
    padding-left: 0%;
}

#main-left-signup {
    width: 40vw;
    padding-left: 0px;
    padding-top: 0px;
    background-color: #FFECBD;
    text-align: left;
    padding-left: 20px;
}
    
#main-left-signup > h1 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 350px;
    text-align: left;
    margin-left: -80px;
}
    
#main-left-signup > h2 {
    font-size: 25px;
    text-align: center;
    justify-content: left;
    margin-left: -190px;
}
    
#main-right-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}
    
.auth-form-signup {
    border: #1E3F66 1.5px solid;
    background-color: #F5F5F4;
    border-radius: 15px;
    margin-top: -60px;
    height: 31vw;
    width: 40vw;
    margin-left: center;
    margin-bottom: 100px;

}

.signup-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: -20px;
}

.signup-field label {
    width: 150px; 
    text-align: left; 
}

.signup-field input {
    flex: 1; 
    max-width: 300px; 
}

.error-text {
    width: 100%;
    margin-left: 160px;
    margin-top: -3px;
    color: red;
    font-size: 0.9em;
}

.signup-button {
    background-color: #3C69A1;
    width: 15vw;
    padding: 5px;
    text-align: center;
    border-radius: 1vw;
    font-size: medium;
    color: white;
    margin-top: 15px;
    margin-left: 130px;
    margin-right: 100px;
}

.signup-footnote {
    font-size: 15px;
    padding-left: 10px;
    margin-top: -10px;
}
    
.signup-footnote a {
    margin-left: 10px;
    text-decoration: none;
    margin-top: -10px;
}
    
input {
    float: right;
    width: 55%;
    background-color: rgb(245, 243, 243);
    border-radius: 0.3vw;
} 
    
/*   END CSS: signup.php */                                        
