/* CS 476: Lost Paws Project
  Group Members: 
            Butool Basabrain (bmb008 - 200478399), 
            Anna Chu (ace859 - 200391368), 
            Makenzy Laursen-Carr (mil979 - 200504296), 
            Kaira Molano (kvm406 - 200447526), 
            Fatima Rizwan (frf706 - 200446702)
  File name: style.css */

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=IBM+Plex+Sans&display=swap');


body, p {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  outline: red dashed 1px;
}

h1, h2 {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  outline: red dashed 1px;

}

/* CSS style for the mainpage before logging in */
#container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  outline: red dashed 1px;

}

#header {
  padding: 10px;
  background-color: #F6A665;
  color: black;
  font-size: 20px;
  width: 100%;
  text-align: center;
  outline: red dashed 1px;

}

.navmenu {
  background-color: #B7CAE1;
  padding: 10px 0;
  outline: red dashed 1px;

}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  outline: red dashed 1px;

}

/* styling the links */
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  justify-content: right;
  padding: 10px 15px;
  outline: red dashed 1px;

}

footer {
  background-color: #F6A665;
  outline: red dashed 1px;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.bottom {
  text-align: center;
  padding: 20px;
}