/* CS 476: Lost Paws Project
  Group Members: 
            Butool Basabrain (bmb008 - 200478399), 
            Anna Chu (ace859 - 200391368), 
            Makenzy Laursen-Carr (mil979 - 200504296), 
            Kaira Molano (kvm406 - 200447526), 
            Fatima Rizwan (frf706 - 200446702)
  File name: style.css */

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=IBM+Plex+Sans&display=swap');


/* START OF COMMON CSS STYLES FOR ALL PAGES 
                                         */

body, p {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

/* START of common styles for navigation menu */
.navmenu {
  background-color: #ffc2c2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 2px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 8px;
  height: 2vw;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  display: grid;
  grid-template-columns: 2fr 9fr 0.5fr; /* used to position the navigation menu buttons */
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: right;

  grid-column-start: 2;
  grid-column-end: 3;
}

/* styling the links */
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  justify-content: right;
  padding: 10px 15px;
}

.nav-links a:hover {
  background-color: #fdfdfd79;
  color: black;
  border-radius: 0.5vw;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 2;
}

.button {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-left: 50px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.button a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
  justify-content: right;
}

#signup-button {
  background-color: rgba(141, 204, 221, 0.801);
  width: 5vw;
  height: 1.5vw;
  padding: 0.3vw;
  text-align: center;
  border-radius: 1vw;
}

#login-button {
  background-color: rgba(141, 204, 221, 0.801);
  width: 5vw;
  height: 1.5vw;
  padding: 0.3vw;
  border-radius: 1vw;
  text-align: center;
}
/* END of common styles for navigation menu */

footer {
  background-color: #ceedf1;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.bottom {
  text-align: center;
  padding: 20px;
}

.logo {
  margin-top: -22px;
  max-width: 100%; 
  height: 55px; 
}

/*  END OF COMMON CSS STYLES FOR ALL PAGES  
                                          */



/*   START CSS: aboutpage.html  
                                          */

#aboutPage-info {
  display: grid;
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  width: 100%;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  grid-template-rows: 2fr 2fr;
}

#aboutPage-row1 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;

    grid-template-columns: 1fr 0.5fr 2fr;  
}
    .aboutPage-description {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .aboutPage-photo1 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .aboutPage-map {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .aboutPage-map > h3 {
      color: rgb(104, 22, 22);
    }

#aboutPage-row2 {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;

    grid-template-columns: 1fr 0.5fr 2fr; 
}
    .aboutPage-offer {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .aboutPage-photo2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .aboutPage-mission-statement {
        grid-column-start: 3;
        grid-column-end: 4;
    }

p.description {
    background-color: #faac6c;
    padding: 1vw;
    text-align: center;
    border-radius: 17px 17px 17px 17px;
}

.aboutPage-mission-statement {
    width: 60%;
}

/*   END CSS: aboutpage.html */


/*   START CSS: signup.html  
                                          */     
#main-left-signup {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 0px;
  padding-top: 190px;
  width: 40vw; 

  background-color: #FFECBD;	/* Yellow Color */
}

#main-left-signup > h1 {
  padding-left: 250px;
  font-weight: bold;
  font-size: 50px;
}

#main-left-signup > h2 {
  padding-left: 150px;
  font-size: 30px;
}

#main-right-signup {
  padding-left: 150px;
  padding-top: 40px;
  background-color: white;
  font-size: 20px;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;
  grid-template-rows: 0.6fr 0.6fr auto;
  height: 600px;
  width: 50vw;
}

.signup-header {
  grid-row-start: 1;
  grid-row-end: 2;
}

.auth-form {
  grid-row-start: 2;
  grid-row-end: 3;
  border: lightgray 1px solid;
  border-radius: 7px;
}

.signup-field {
  margin: 25px;
  margin-bottom: 20px;
  font-size: smaller;
}

.signup-footnote {
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: smaller;

  padding-left: 65px;
  margin-top: -35px;
}

.signup-footnote a {
text-decoration: none;
}

input {
  float: right;
  width: 55%;
  background-color: rgb(245, 243, 243);
  border-radius: 0.3vw;
} 

.signup-button {
  background-color: rgba(141, 204, 221, 0.801);
  width: 15vw;
  padding: 5px;
  text-align: center;
  border-radius: 1vw;
  font-size: medium;
}
/*   END CSS: signup.html */                               


/*   START CSS: login.html 
                                      */   
#main-right-login {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 0px;
  padding-top: 190px;
  width: 50vw; 

  background-color: #cde6f1c0;
}

#main-left-login {
  padding-left: 10px;
  padding-top: 40px;
  background-color: white;
  font-size: 20px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;
  grid-template-rows: 0.6fr 0.6fr auto;
  height: 600px;
}

.login-header > h1 {
  padding-left: 135px;
  font-weight: bolder;
  font-size: 70px;
}

.login-header > h2 {
  padding-left: 160px;
  font-size: 30px;
  margin-top: -50px;
}

#main-left-login > h3 {
  font-size: 30px;
}

.login-header {
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 50px;
}

.auth-form {
  grid-row-start: 2;
  grid-row-end: 3;
  border: lightgray 1px solid;
  border-radius: 7px;
  width: 70%;
  padding-right: 40px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  margin-left: 60px;
}

.login-field {
  width: 95%;
  margin: 25px;
  margin-bottom: 20px;
  font-size: smaller;
}

.login-footnote {
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: smaller;
  padding-left: 65px;
  margin-top: -35px;
}

.login-footnote a {
text-decoration: none;
}

input {
  float: right;
  width: 55%;
  background-color: rgb(245, 243, 243);
  border-radius: 0.3vw;
} 

.login-button {
  background-color: rgba(141, 204, 221, 0.801);
  width: 15vw;
  padding: 5px;
  text-align: center;
  border-radius: 1vw;
  font-size: medium;
}

.forgot-password {
  float: right;
}
/*   END CSS: login.html 
                                      */  
              

/*   START CSS: howtousepage.html  
                                              */   
  #how-to-use-info > h1 {
    text-align: center;
  }

  #how-to-use-info video {
      display: block;
      margin: auto;
  }
  /*   END CSS: howtousepage.html */   


 /*   START CSS: mainpage.html  
                                              */  
  #lost-found-database {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    
      display: grid;
      grid-template-rows: 0.6fr 5fr auto;
      height: 600px;
  }
  
  .lost-or-found-buttons {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 25px;
  }
  
  .lost-or-found-buttons button {
    background: rgba(255, 255, 255, 0.863);
    color: black;
    cursor: pointer;
    border-radius: 0.3vw;
    padding: 10px 50px;
    font-size: 30px;
  }
  
  #lost-button {
    margin-right: 20px;
    padding: 10px 65px;
  }
  
  .search-field {
    grid-row-start: 2;
    grid-row-end: 3;
  
    float: left;
    margin-left: 30px;
  }
  
  .search-field input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 225px;
  }
  
  .search-field button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 8px;
    background: #dadadb;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .pet-database-container {
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: -450px;
    padding: 40px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .pet-brief-info {
    border-style: solid;
    border-width: 2px;
    border-color: #d6d8da;
    border-radius: 0.5vw;
    box-shadow: 0 2px 2px #d6d8da;
    margin: 10px;
    padding: 15px;
  }
  
  #mainpage-main-right{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #FFECBD;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  #mainpage-main-right > h3 {
    text-align: center;
    width: 15vw;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  #mainpage-main-right > p {
    text-align: center;
  }
  
  #mainpage-main-right a {
    background-color: #9AD4FF(230, 180, 120, 0.801);
    border-radius: 0.2vw;
    width: 5vw;
    padding: 0.3vw;
    margin-left: 10px;
    text-decoration: none;
    font-size: large;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  /*   END CSS: mainpage.html  */  

  /*   START CSS: selectpostpage.html  
                                              */   
  #select-post-main-left {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      padding: 20px;
      width: 15vw;

      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      overflow: hidden;
  }

  #select-post-main-left button{
    font-size: medium;
  }

  #select-post-main-left iframe{
    max-height: 300px;
    max-width: 280px;
  }
  
  #select-post-main-center{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    width: 65vw;
    padding: 25px;
}

  .lost-or-found-label {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 25px;
  }

  .lost-or-found-label h1{
    width: 10vw;
    box-shadow: 0 3px 5px rgba(221, 35, 35, 0.89);
    text-align: center;
    margin-top: -20px;
  }

  .title-post {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 30px;
    margin-top: -110px;
  }
  
  .description-container {
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 30px;
    margin-top: -180px;
    padding: 25px;
    width: 55vw;
    display: grid;
    grid-template-columns: 1.5fr 2fr;

    box-shadow: 0 2px 5px rgba(216, 213, 213, 0.5);
  }

  .description-column1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: scroll;
    max-width: 600px;
    max-height: 300px;
  }

  .description-column2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #f1f1f1;
    padding: 25px;
    overflow: scroll;
    max-width: 600px;
    max-height: 300px;
  }

  .comment-container {
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 30px;
    padding: 25px;
    width: 55vw;
  }
  
  .comment-container input{
    float: left;
    height: 2vw;
  }

  #select-post-main-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #e9e9e9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 15vw;
  }

  #select-post-main-right > h3 {
    text-align: center;
    width: 15vw;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    max-width: 12vw;
  }
  
  #select-post-main-right > p {
    text-align: center;
  }
  
  #select-post-main-right a {
    background-color: rgba(230, 180, 120, 0.801);
    border-radius: 0.2vw;
    width: 5vw;
    padding: 0.3vw;
    margin-left: 10px;
    text-decoration: none;
    font-size: large;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  /*   END CSS: selectpostpage.html */  



/* 
    START CSS: reportpetpage.html 
                                      */

/* Header Styles */
header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #f8f8f8; /* Example background */
  padding: 10px 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Logo Styles */
.logo {
  font-size: 20px; 
  font-weight: bold; 
}

/* Navigation Links Styles */
nav a {
  margin: 0 10px; 
  text-decoration: none; 
  color: #333; 
}

/* Auth Button Styles */
.auth-buttons button {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 5px 10px; 
  margin-left: 5px; 
  cursor: pointer; 
}

/* Container for Form and Map */
.container {
  display: flex;
  justify-content: space-between; 
  margin-top: 20px;
  gap: 20px;  /* Optional: space between map and form */
  flex-wrap: wrap; /* Ensures the layout wraps on smaller screens */
}

/* Styles for both Form and Map Containers */
.form-container, .map-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form Container Styles */
.form-container {
  width: 45%;
  text-align: left;
}

/* Map Container Styles */
.map-container {
  width: 45%;
}

/* Map Area Styles */
.map {
  height: 300px;
  background: lightgray;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #FFECBD;
  color: Black; 
  padding: 10px 0;
}

/* Container for the file input and submit button */
.upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style for the file input button */
.upload-container input[type="file"] {
  display: none;
}

/* Custom label for file input */
.upload-container label {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  width: auto;
}

.upload-container label:hover {
  background-color: #0056b3;
}

/* Style for the submit button */
.upload-container button {
  background-color: #007bff; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.upload-container button:hover {
  background-color: #0056b3;
}

/*  END CSS FOR reportpetpage.html  */

/* 
	START CSS: petmap.html */
						
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

#petmap-container {
  display: grid;
  grid-template-columns: 1fr; /* One column layout for centering */
  gap: 20px;
  padding: 20px;
  width: 97%; /* Make it responsive */
  max-width: 1500px; /* Max width for larger screens */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#filter-section label {
  margin-right: 10px;
}

#filter-section select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#petmap-map {
  width: 100%;
  height: 600px; 
  border-radius: 10px;
  overflow: hidden;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* 
	END CSS: petmap.html  */


/*	 START CSS: index.php 	*/
.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
  margin: 0;
  padding: 0;
}

.top-half {
	background-color: #cde6f1c0;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 10%;
  padding-top: 10%;
}

.top-half h1 {
	font-size: 4.5em;
	margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-half p {
	font-size: 1.2em;
	margin: 30px 0;
  color: black;
  max-width: 400 px;
}

.top-half a{
	display: inline-block;
	background-color: #9AD4FF;
	padding: 10px 20px;
	border-radius: 15px;
	text-decoration: none;
	font-size: 1em;
	color: black;
	text-align: center;
	width: auto;
  margin-top: 20px;
  transition: background-color 0.3 ease;
}

.top-half a:hover {
  background-color: #64aef3;
}

.bottom-half {
	background-color: white;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  margin-top: -150px;
  padding: 20px;
}

.bottom-half p {
	font-size: 1.5em;
	margin: 0 0 20px 0;
  max-width: 800px;
}

.bottom-half a {
	background-color: #ffd0a9;
	color: black;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 15px;
	font-size: 1em;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.bottom-half a:hover {
  background-color:#ea6f50;
}

footer {
  background-color: #FFECBD;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer p {
  margin: 0;
  font-size: 1em;
  color: black;
}

/*	 END CSS: index.php		*/

/*	 START CSS: error messages 	*/
.error-border {
	border: 1.5px solid red;
}

.error-text {
	color: red;
	font-style: italic;
	font-size: 12pt;
}

.hidden {
	visibility: hidden;
}
/*	 END CSS: error messages	*/

